body {
  background: #FFF;
}

/* #logo {
  width: 350px;
  height: 247px;
  margin: auto;
} 

#caixa_login {
  background: #FFF;
  width: 450px;
  height: 300px;
  margin: -35px auto;  
  border-radius: 5px;
}

#caixa_login .input {
  font: 15px Arial, Helvetica, sans-serif;
  color: #FFF;
  height: 40px;
  padding: 10px;
  background: #060;
  cursor: pointer;
  width: 80px;
  margin: 80px 200px ;
  border: 1px solid #666;
  border-radius: 5px;
}

#caixa_login .input:hover {
  background: #015201;  
} */